html
  head
    title YouTube Most Recent Popular Videos - About
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='css/normalize.css')
    link(rel='stylesheet',href='css/basscss.css')
    link(rel='stylesheet',href='css/style.css')
  body
    div(class='p1')
      p(class='h2')
        a(href='/') Most Recent Popular YouTube Video Search
        | /About
      p
        | This site is for rising YouTubers who are not seeing
        | their videos coming up on top of YouTube's search results.
      p
        | YouTube allows you to search by the number of views,
        | or by the upload date. By default it shows you 'relevant'
        | results. None of these criteria work well for new content
        | unless your videos are about what everyone wants to see.
        | Which means - it is incredibly hard for new kind of content
        | to get noticed. This site offers you a way to search YouTube
        | for a combination of upload date and view count. That way
        | you can see which other videos launched at the same time
        | as yours have the most views. This might help you understand
        | how to increase your video's view count.
      p
        | This site is still a work in progress
    div(class='p1 bg-silver center border-top h4')
      | Made using <a href="http://expressjs.com" target="_blank">Express</a>,
      | <a href="https://basscss.com" target="_blank">Basscss</a> and
      | <a href="https://developers.google.com/youtube/v3/getting-started">YouTube Data API</a>
      | (<a href="https://github.com/debamitro/yt-recent-popular" target="_blank">source</a>)
