html
  head
    title YouTube Most Recent Popular Videos
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='css/normalize.css')
    link(rel='stylesheet',href='css/basscss.css')
    link(rel='stylesheet',href='css/style.css')
  body
    div(class='p1')
      p(class='h1') Most Recent Popular YouTube Video Search
      a(href='/about') About this site
      div
        | What are you looking for:
        form(method='GET' action='search')
          input(name='q' type='text')
          button(type='submit') search
    div(class='p1 bg-silver center border-top h4')
      | Made using <a href="http://expressjs.com" target="_blank">Express</a>,
      | <a href="https://basscss.com" target="_blank">Basscss</a> and
      | <a href="https://developers.google.com/youtube/v3/getting-started">YouTube Data API</a>
      | (<a href="https://github.com/debamitro/yt-recent-popular" target="_blank">source</a>)
