html
  head
    title YouTube Most Recent Popular Videos
  body
    div
      | What are you looking for:
      form(method='GET' action='search')
        input(name='q' type='text')
        button(type='submit') search