html
  head
    title YouTube Most Recent Popular Videos
    meta(name='viewport',content='width=device-width, initial-scale=1')
  body
    h1 Most Recent Popular YouTube Video Search
    div
      | What are you looking for:
      form(method='GET' action='search')
        input(name='q' type='text')
        button(type='submit') search