html
  head
    title YouTube Most Recent Popular Videos - Search results
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='css/style.css')
  body
    a(href='/') New search
    div
      = 'Results for ' + query + ' published after ' + timeafter
      != data